@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');

/* body class - back ground */
.my-container{
    background-image: url(bubble.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
/* division div class */
.my-box{
    /* border: #aaa;
	background-color: white;
	max-width: 400px;
	margin: 110px auto 10px auto;
	padding: 1rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	font-family: "Lato"; */
	background-color: #efefefb5;
	max-width: 600px;
	margin: 110px auto 10px auto;
	padding: 1rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	font-family: "Lato";
}

.my-box h1{
	text-align: center;
	text-shadow: 5px 5px 5px rgba(1,1,1,0.1);
}
.my-box ul{
	max-width: 200px;
	margin: auto;
}

.my-box p{
	text-align: center;
}
table{
	margin: auto;
	border: 2px solid red;
}
td{
	border: 1px solid blue;
}

.my-box .my-hr{
	max-width: 400px;
	border: 5px solid black;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}

.my-face{
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
	border: 1px solid #aaa;
	margin-top: -100px;
}

.my-form{
	font-family: "Lato";
	max-width: 400px;
	padding: 10px;
	margin: auto;
	border: 1px solid black;
}

/*1. add margin spacing for top & bottom: 20px */
.my-form-group{
	margin: 20px 0;
	/* margin-top: 20px;
	margin-bottom: 20px; */
}

/*This selector refers to ALL <input> */
input[type]{
	-webkit-appearance: none;/*removes browser override style on mac*/

	/*2. set the width to fill container: 100% */
	/*3. increase font size to: 1.5rem */
	/*4. increase height to: 2rem */
	width: 100%;
	font-size: 1.5rem;
	height: 2rem;
	

	
}

/*Select multiple selectors with a comma , */
/*input[type=text] selects <input type="text"> */
input[type=text], 
input[type=email]{ 

	/*5. remove existing border to: none*/
	/*6. create an underline effect by setting a new border-bottom to: 1px solid black*/
	border: none;
	border-bottom: 1px solid black;

}

/*input[type]:focus is a state of being used */
input[type=text]:focus, 
input[type=email]:focus{

	/*7. remove the default glow with outline:none */
	/*8. set the border and text color to: orangered*/
	outline: none;
	border: 1px solid orangered;
	color: orangered;


}

/*submit button selector*/
input[type=submit]{
	
	/*9. increase the button height to: 3rem (double font size)*/
	/*10. remove the bezel with border:none*/
	/*11. set background color to: black and text to: white */
	height: 3rem;
	border: none;
	background-color: black;
	color: white;



}

/*hovering state, similar to a:hover */
input[type=submit]:hover{
	/*12. set background color to: orangered */
	background-color: orangered;
	
}

/*this optional style removes the yellow background of chrome's autofill*/
input[type]:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

@media(max-width:768px) {
	h1 {font-size: 18px;}
}

@media(min-width:900px) {
	h1 {font-size: 50px;}
}